@charset "UTF-8";

$layout-north-pd-sm: 7px 0px;
$layout-west-pd-sm: 0px 10px 20px 0px;
$layout-center-pd-sm: 0px 0px 20px 10px;
$search-wid-sm: 300px;
$icon-pd-sm: 9px;

$font-size-sm: 12px;
$font-size-md: 14px;
$line-height-md: 50px;

$button-height-small: 27px;
$button-line-height-small: 7px;
$button-height-md: 36px;
$button-spacing-md: 30px;
$button-pd-md: 12px;


$icon-spacing-sm: 10px;


$foot-sm: 40px;

$color-gray: #69738a;
$color-border: #dfdfdf;